@{
    ViewBag.Title = "Contact Success";
}

<section class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 text-center">
                <h1 class="display-5">Thank You!</h1>
                <p class="lead">Your message has been successfully sent. We will get back to you as soon as possible.</p>
                <hr class="my-4">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Go Back to Home</a>
            </div>
        </div>
    </div>
</section>
